.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    font-size: 20px;
    border: 100px;
    border-radius: 5px;
    background-color: #EEEEEE;
    padding: 0px 5px;
}
.heading :hover {
    background-color: coral;
    justify-content: space-around; 
    width: 120px;
}
.image {
    display: flex;